@using i18n = Resources.Views.Account.ViewTranslation
@{
    ViewBag.Title = i18n.ForgotPasswordConfirmationTitle;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @i18n.ForgotPasswordConfirmationTextInfo
    </p>
</div>
	
