@using i18n = Resources.Views.Account.ViewTranslation
@{
    ViewBag.Title = i18n.ResetPasswordConfirmationTitle;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
         @i18n.ResetPasswordConfirmationInfoText @Html.ActionLink(@i18n.ClickToLoginLinkText, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
